@import url("https://fonts.googleapis.com/css2?family=Italianno&family=Oswald:wght@200..700&family=Sixtyfour&family=Sixtyfour+Convergence&display=swap");

:root {
  --dark-color: #222;
  --light-color: #fff;
  --light-box: #ddd;
  --dark-box: #333;
  --button-color: #8c76e9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", serif;
}
html,
body {
  height: 100%;
  width: 100%;
  background: var(--dark-color);
  color: var(--light-color);
  z-index: -99;
  overflow-x: hidden;
}

/* Header */
header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5vw 5vw;
  z-index: 99;
  filter: drop-shadow(1px 5px 5px #000000);
  pointer-events: none;
}
#logo h2 {
  /* font-family: Sixtyfour, sans-serif; */
  font-size: 20px;
}

header ul {
  display: flex;
  list-style: none;
  gap: 4vw;
}
header ul li a {
  text-decoration: none;
  color: var(--light-box);
  font-size: 16px;
  pointer-events: all;
}

/* Home */
#home {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden; /* Prevent any scrolling issues */
  pointer-events: none;
  z-index: 1;
}

/* Eye Container */
#eyeContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#000, #444, #000);
  gap: 5vw; /* Ensure spacing between eyes */
  pointer-events: all;
}

/* Eye */
.eye {
  position: relative;
  height: 10vw;
  width: 10vw;
  border-radius: 50%;
  background: var(--light-box);
  box-shadow: 0 0 3vw rgba(3, 3, 27, 0.795), 0 0 2.5vw rgb(26, 13, 102) inset;
  /* transition: all 0.1s; */
}
.eye::before {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  content: "";
  height: 5vw;
  width: 5vw;
  border-radius: 50%;
  background: var(--dark-color);
}

#homeText {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 26vw;
  padding: 0 5vw;
  /* z-index: 1; */
}
#homeLeft {
  width: 50%;
  line-height: 1.2;
}
#homeLeft h3 {
  font-size: 2.3vw;
}
#homeLeft h2 {
  font-size: 3.5vw;
  margin-bottom: 2vw;
}
#homeLeft h3 span {
  color: var(--button-color);
}

#homeRight {
  width: 40%;
}
#homeRight p {
  font-size: 14px;
  font-family: sans-serif;
  color: var(--light-color);
  line-height: 1.3;
}
#socialBox {
  display: flex;
  gap: 3vw;
  margin-top: 2vw;
}
#socialBox a {
  text-decoration: none;
  pointer-events: all;
  transition: all 0.3s;
}
#socialBox a svg {
  height: 25px;
  color: var(--button-color);
  border-radius: 50%;
}
#socialBox a:hover {
  filter: drop-shadow(0 3px 5px #8c76e9);
  transform: scale(1.1);
}

#downArrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 5px;
  pointer-events: all;
}
#downArrow button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  color: var(--light-color);
  background-color: var(--button-color);
  transition: all 0.3s;
  cursor: pointer;
  border: 1px solid #ffffff35;
  box-shadow: 0 2px 1px #8c76e9;
  font-size: 12px;
  font-family: sans-serif;
}
#downArrow button:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 3px 5px #8c76e9);
}
#downArrow svg {
  color: var(--button-color);
  height: 25px;
}
#downArrow span {
  height: 15px;
  width: 2px;
  background: var(--dark-box);
}

/* Projects */
#projects {
  height: 100vh;
  width: 100%;
  background: linear-gradient(#000, #444, #000);
  position: relative;
  text-align: center;
  overflow: hidden;
}
#projects h1 {
  position: absolute;
  top: 20%;
  left: 50%;
  line-height: 1;
  text-transform: uppercase;
  transform: translate(-50%);
  filter: drop-shadow(0 30px 50px #fff);
  font-size: 40px;
}
#slider {
  position: absolute;
  height: 270px;
  width: 200px;
  top: 30%;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: rotation 30s infinite linear;
}
#slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity) * 1deg))
    )
    translateZ(530px);
}

#slider .item a {
  text-decoration: none;
  color: var(--light-color);
  height: 100%;
  width: 100%;
  position: relative;
}
#slider .item a img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(50%) contrast(120%);
}
#slider .item a h4 {
  font-size: 20px;
  position: absolute;
  top: -120%;
  left: -30%;
  font-weight: 900;
  transform: rotate(-90deg);
  -webkit-text-stroke: 1px #000;
}
#slider .item a svg {
  height: 20px;
  position: absolute;
  left: -15%;
  top: -500%;
  transform: rotate(-90deg);
}

@keyframes rotation {
  form {
    transform: perspective(1000px) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateY(360deg);
  }
}

/* Skills */
#skills {
  height: 100vh;
  width: 100%;
  background: linear-gradient(#000, #444, #000);
  position: relative;
}

/* Services */
#services {
  height: 100vh;
  width: 100%;
  background: linear-gradient(#000, #444, #000);
  position: relative;
}

/* Contact */
#contact {
  height: 100vh;
  width: 100%;
  background: linear-gradient(#000, #444, #000);
  position: relative;
}
#contact h1 {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  line-height: 1;
  text-transform: uppercase;
  transform: translate(-50%);
  font-size: 4vw;
  margin-top: 60px;
}

form {
  display: flex;
  max-width: 50%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
label {
  margin-bottom: 8px;
  font-weight: bold;
}
input,
textarea,
form button {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #444;
  outline: 1px solid --button-color;
  border-radius: 5px;
  font-size: 16px;
  background: transparent;
  color: var(--light-color);
}
form button {
  background-color: var(--button-color);
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}
button:hover {
  background-color: #8b76e9b2;
}
